h1 {
    font-family: Valerie;
    font-weight: lighter ;
    color: #1464B8;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 80px;
}

.menu-gauche {
    margin-top: 0px;
    background-color: #F4F4F4;
    min-height: 800px;
    max-height: 5000px;
    width: 300px;
}
.menu-gauche-text{
    margin-top: 0px;
    font-family: Merriweather, sans-serif;
    margin-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.trait {
    width: 300px;
    height: 1px;
    background-color: #E0D6D6;
    margin-top: 35px;
}

.big-container {
    display: flex;
}

.menu-gauche-text-active {
    background-color: #0E2886;
    padding: 15px 50px 15px 50px;
    margin-top: 30px;
    font-family: Merriweather, sans-serif;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.active {
    text-decoration: none;
    font-family: Merriweather, sans-serif;
    color: white;

}
a {
    text-decoration: none;
    font-family: Merriweather, sans-serif;
    color: black;
}

.tousmesvoyages {
    display: flex;
}

.voyage {
    display: flex;
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center; /* Aligner verticalement */ /* Ajouter une marge négative à gauche */
    padding-left: 20px; /* Ajouter un padding à gauche pour compenser la marge négative */
    border-bottom: 1px solid #ccc; /* Ajouter un trait entre chaque voyage */
    padding-bottom: 20px; /* Espacement entre les voyages */
}
.voyage img {
    max-width: 250px; /* Ajuster la largeur de l'image */
    height: 150px; /* Ajuster la hauteur de l'image */
    margin-left: 8px;
}
.voyage-info {
    display: flex;
    gap: 50px;
    margin-left: 46px;
}
.voyage-info div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.voyage-info div:last-child {
    margin-right: 0; /* Supprimer la marge à droite du dernier élément */
}

select {
    background-color: #0E2886;
    color: white;
    border: none;
    padding-left: 10px; 
    text-align: left; 
    font-size: 12px;
}

#categorie {
    width: 180px;
    height: 35px;
    border-radius: 8px;
    margin-left: 16px;
}

#region {
    width: 150px;
    height: 35px;
    border-radius: 8px;
    
}

#price {
    height: 35px;
    width: 115px;
    border-radius: 8px;
}

#button {
    width: 140px;
    height: 35px;
    border-radius: 13px;
    width: 140px;
    height: 35px;
    border-radius: 8px;
    background-color: #0E2886;
    color: white;
    border: none;
}

.container-filtres {
    display: flex;
}

.filtres {
    display: flex;
    margin-top: 105px;
    gap: 60px;
    margin-left: 40px;
}

#crayon {
    height: 40px;
    width: 40px;
    
}

#croix {
    height: 20px;
    width: 20px;
}

.container-donnees {
    width: 200px;
    height: 200px;
    text-align: center;
}