.container-menu {
    background-color: #005cbe;
    max-height: 110px;
    width: 100%;
    font-family: Merriweather, sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 30px; 
}

nav {
    display: flex;
    gap: 80px;
    margin-left: 100px;
    
}

#logo {
    max-height: 110px;
    width: 188px;
    margin-right: 80px;
}

.menu {
    font-family: Merriweather, sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 30px;
}